
html{
  font-size: 18px;
  font-family: Helvetica;
}

/*HERO AND HEADER*/

.header{
  display: flex;
  width: 100%;
  text-align:left;
  height: auto;
  background-color: black;
  padding-left: 10%;
}

.header .logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header .logo img{
  height: 1.5rem;
  padding: 0.66rem 1rem 0.66rem 0;
}

.header .name {
  color: white;
  padding: 0.66rem 0;
  font-size: 1 rem;
}

.hero{
  display: flex;
  background-image: url("../../resources/images/moto.jpeg");
  width: 100%;
  height: 25rem;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

.hero .copy{
  display: block;
  color: white;
  background-color: black;
  width: 20rem;
  height: 25%;
  padding: 2rem 3rem;
  align-items: center;
  margin-top: 9rem;
  margin-left: 10%;
}

.hero .copy h5{
  display: block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.hero .copy h2{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar{
  display: inline-flex;
  background-color: firebrick;
  width: 100%;
  height: auto;
}

nav{
  margin-left: 10%;
  width: 960px;
  display: flex;
  justify-content: space-between;
  padding:0.75rem;
  color: white;
}

/*GALLERY*/

/*Note: this is for the 960px div to contain the gallery and visitor info*/
.content{
  margin-left: 10%;
  width: 960px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

/*Note: arranges the 3 images*/
.gallery{
  width: 100%;
  display: inline-flex;
  justify-content:space-between;
}

/*Note: for the div container surrounding img*/
.pen, .watch, .glass{
  width: 30%;
  height: auto;
  border:4px solid black;
}

/*Note: for the actual product img*/
.gallery .product img{
  display: flex;
  width: auto;
  height: 9rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

/*Note: to format the text of the product*/
.gallery h5{
  padding: 0.5rem 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Note: ensures that height of the product is the same*/
.product {
  height: 13rem;
}

/*Note: to make the pen and watch image center in their divs*/
.pen .product, .watch .product{
  width: 100%;
  display: flex;
  justify-content: center;
}

/*Note: to make the glasses image center in their divs*/
.glass .product{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Note: to make the image of the glasses smaller*/
.glass .product img{
  width: 70%;
  height: auto;
}


/* VISITOR INFO*/

.info{
  margin-left: 10%;
  width: 960px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.location{
  width: 35%;
  height: auto;
}

.location h5, .hours h5{
  padding: 1rem 2rem;
  color: white;
  background-color: black;
  margin-bottom: 0.4rem;
}


/* FOOTER*/

.footer{
  width: 100%;
  background-color: black;
  height: 5rem;
  display: flex;
}

.copyright {
  width: 960px;
  display:flex;
  align-items: center;
  margin-left: 10%;
}

.copyright h5{
  color: white;
  text-align: left;
}
