div{
  border: solid 1px black;
}

.header {
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px black;
  align-items: center;
  flex-shrink: 2;
  flex-grow: 1;
  width: 60%;
  justify-content: space-between;
}

.header .lockup{
  color: MediumAquamarine;
  align-items: center;
  padding-left: 10px;
}

.navigation {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  flex-wrap:nowrap;
}

.navigation li{
  display: inline-flex;
  margin: 10px 10px;
  align-items: center;
}

.navigation a{
  color: black;
  text-decoration-style: solid 1px black;
}
